<!DOCTYPE html>
<html lang="fr">
<head>
  <meta charset="utf-8" />
  <title>PyCon Israel 2016</title>
  <link rel="stylesheet" type="text/css" href="app/screen.css">
  <link rel="stylesheet" type="text/css" href="custom1.css">
</head>
<body class="hflex-wrapper">
  <div id="schedules" class="mainColumn">
    <div id="roomSix" class="schedule">
      <div id="arrival-6" data-time="0900">
        <p class="timing">Next: <time>9:00</time></p>
        <h2>Arrival + Snacks</h2>
      </div>
      <div id="opening-6" data-time="0930">
        <p>Next: <time>9:30</time></p>
        <h2>The grand opening</h2>
      </div>
      <div id="keynote1-6" data-time="0945">
        <p>Next: <time>9:45</time> in room <span class="room">6</span></p>
        <h2>Travis Oliphant <a class="twitter" href="https://twitter.com/teoliphant">@teoliphant</a></h2>
        <h3>Keynote #1 - Scaling PyData Up and Out with Anaconda</h3>
      </div>
      <div id="keynote2-6" data-time="1030">
        <p>Next: <time>10:30</time> in room <span class="room">6</span></p>
        <h2>Ola Sendecka <a class="twitter" href="https://twitter.com/asendecka">@asendecka</a> and Ola Sitarska <a class="twitter" href="https://twitter.com/olasitarska">@olasitarska</a></h2>
        <h3>Keynote #2 - Growing Community That Makes a Difference</h3>
      </div>
      <div id="break1-6" data-time="1115">
        <p>Next: <time>11:15</time></p>
        <h2>Coffee Break!</h2>
        <h3>Moving in 2 tracks</h3>
      </div>
      <div id="picus" data-time="1130">
        <p>Next: <time>11:30</time> in room <span class="room">6</span></p>
        <h2>Matti Picus</h2>
        <h3>What's new in PyPy and what will be next</h3>
      </div>
      <div id="zacks" data-time="1200">
        <p>Next: <time>12:00</time> in room <span class="room">6</span></p>
        <h2>Sim Zacks</h2>
        <h3>Practical Metaclasses and Descriptors</h3>
      </div>
      <div id="lunch-6" data-time="1230">
        <p>Next: <time>12:30</time></p>
        <h2>Lunch break!</h2>
      </div>
      <div id="schwarz" data-time="1330">
        <p>Next: <time>13:30</time> in room <span class="room">6</span></p>
        <h2>John Schwarz <a class="twitter" href="https://twitter.com/john_jschwarz">@john_jschwarz</a></h2>
        <h3>Debugging Hung Python Processes With GDB</h3>
      </div>
      <div id="berman" data-time="1400">
        <p>Next: <time>14:00</time> in room <span class="room">6</span></p>
        <h2>Julian Berman <a class="twitter" href="https://twitter.com/JulianWasTaken">@JulianWasTaken</a></h2>
        <h3>Introduction to JSON Schema</h3>
      </div>
      <div id="gur" data-time="1430">
        <p>Next: <time>14:30</time> in room <span class="room">6</span></p>
        <h2>Eli Gur <a class="twitter" href="https://twitter.com/eligur1">@eligur1</a></h2>
        <h3>PyTest, the testing framework you've been dreaming of</h3>
      </div>
      <div id="break2-6" data-time="1500">
        <p>Next: <time>15:00</time></p>
        <h2>Coffee Break</h2>
        <h3></h3>
      </div>
      <div id="mahili" data-time="1530">
        <p>Next: <time>15:30</time> in room <span class="room">6</span></p>
        <h2>Sagiv Malihi <a class="twitter" href="https://twitter.com/sagiv">@sagiv</a></h2>
        <h3>The Many Faces of Concurrency in Python</h3>
      </div>
      <div id="barak" data-time="1600">
        <p>Next: <time>16:00</time> in room <span class="room">6</span></p>
        <h2>Ron Barak</h2>
        <h3>How to make Python perform like C</h3>
      </div>
      <div id="vollero" data-time="1630">
        <p>Next: <time>16:30</time> in room <span class="room">6</span></p>
        <h2>Francesco Vollero <a class="twitter" href="https://twitter.com/fvollero">@fvollero</a></h2>
        <h3>Introduction to app development with OpenStack SDK</h3>
      </div>
      <div id="party-6" data-time="1730">
        <p>Next: <time>17:30</time></p>
        <h2>After Party</h2>
      </div>
      <div id="movie-6" data-time="1845">
        <p>Next: <time>18:45</time></p>
        <h2>Movie time!</h2>
      </div>
      <div id="tomorrow-6" data-time="2000">
        <h2>See you tomorrow!</h2>
        <h3>We will be open at 9:00, first session at 9:30!</h3>
      </div>
    </div>
    <div id="roomEight" class="schedule">
      <div id="arrival-8" data-time="0900">
        <p class="timing">Next: <time>9:00</time></p>
        <h2>Arrival + Snacks</h2>
      </div><div id="opening-8" data-time="0930">
        <p>Next: <time>9:30</time></p>
        <h2>The grand opening</h2>
      </div>
      <div id="keynote1-8" data-time="0945">
        <p>Next: <time>9:45</time> in room <span class="room">6</span></p>
        <h2>Travis Oliphant <a class="twitter" href="https://twitter.com/teoliphant">@teoliphant</a></h2>
        <h3>Keynote #1 - Scaling PyData Up and Out with Anaconda</h3>
      </div>
      <div id="keynote2-8" data-time="1030">
        <h2>Ola Sendecka <a class="twitter" href="https://twitter.com/asendecka">@asendecka</a> and Ola Sitarska <a class="twitter" href="https://twitter.com/olasitarska">@olasitarska</a></h2>
        <h3>Keynote #2 - Growing Community That Makes a Difference</h3>
      </div>
      <div id="break1-8" data-time="1115">
        <p>Next: <time>11:15</time></p>
        <h2>Coffee Break!</h2>
        <h3>Moving in 2 tracks</h3>
      </div>
      <div id="vasarhelyi" data-time="1130">
        <p>Next: <time>11:30</time> in room <span class="room">8</span></p>
        <h2>Orsolya Vasarhelyi</h2>
        <h3>Network Analysis with Python</h3>
      </div>
      <div id="herlihy" data-time="1200">
        <p>Next: <time>12:00</time> in room <span class="room">8</span></p>
        <h2>Anna Herlihy</h2>
        <h3>Wrestling Python into LLVM Intermediate Representation</h3>
      </div>
      <div id="lunch-8" data-time="1230">
        <p>Next: <time>12:30</time></p>
        <h2>Lunch break!</h2>
      </div>
      <div id="arfa" data-time="1330">
        <p>Next: <time>13:30</time> in room <span class="room">8</span></p>
        <h2>Jonathan Arfa <a class="twitter" href="https://twitter.com/jonarfa">@jonarfa</a></h2>
        <h3>Algorithms to Sample From Streams - Reservoir Sampling and Variants</h3>
      </div>
      <div id="halaby" data-time="1400">
        <p>Next: <time>14:00</time> in room <span class="room">8</span></p>
        <h2>Uzi Halaby-Senerman <a class="twitter" href="https://twitter.com/uzi_hs">@uzi_hs</a></h2>
        <h3>Pandas - not just for data scientists</h3>
      </div>
      <div id="bornstein" data-time="1430">
        <p>Next: <time>14:30</time> in room <span class="room">8</span></p>
        <h2>Ari Bornstein <a class="twitter" href="https://twitter.com/pythiccoder">@pythiccoder</a></h2>
        <h3>From Experimentation to Production: Pandas and Sci-Kit learn on Azure ML</h3>
      </div>
      <div id="ram" data-time="1500">
        <p>Next: <time>15:00</time> in room <span class="room">8</span></p>
        <h2>Yoav Ram <a class="twitter" href="https://twitter.com/yoavram">@yoavram</a></h2>
        <h3>How to Study Evolution Using Scientific Python</h3>
      </div>
      <div id="break2-8" data-time="1530">
        <p>Next: <time>15:30</time></p>
        <h2>Coffee Break</h2>
      </div>
      <div id="nevo" data-time="1600">
        <p>Next: <time>16:00</time> in room <span class="room">8</span></p>
        <h2>Omer Nevo</h2>
        <h3>Poetry in Python: Using Markov Chains to Generate Texts</h3>
      </div>
      <div id="sheer" data-time="1630">
        <p>Next: <time>16:30</time> in room <span class="room">8</span></p>
        <h2>Rony Sheer <a class="twitter" href="https://twitter.com/rony_sheer">@rony_sheer</a></h2>
        <h3>If They Build It… They will code...(lessons from a school coding club)</h3>
      </div>
      <div id="party-8" data-time="1730">
        <p>Next: <time>17:30</time></p>
        <h2>After Party</h2>
      </div>
      <div id="movie-8" data-time="1845">
        <p>Next: <time>18:45</time></p>
        <h2>Movie time!</h2>
      </div>
      <div id="tomorrow-8" data-time="2000">
        <h2>See you tomorrow!</h2>
        <h3>We will be open at 9:00, first session at 9:30!</h3>
      </div>
    </div>
  </div>
  <div id="twitterwall" class="mainColumn">
    <ul id="tweets"></ul>

    <div id="notices">
      <div id="sponsor-list">
        <div>
          <p>Our generous sponsors:</p>
          <table width="100%" style="text-align:center">
            <!--tr><td><h4>Diamond sponsors</h4></td></tr-->
            <tr>
              <td>
                <img src="https://s3.amazonaws.com/pycon-il/pics/sponsors/redhat.png" />
              </td>
              <td>
                <img src="https://s3.amazonaws.com/pycon-il/pics/sponsors/cymmetria.png" />
              </td>
            </tr>
            <!--tr><td><h4>Gold sponsors</h4></td></tr-->
            <tr>
              <td>
                <img src="https://s3.amazonaws.com/pycon-il/pics/sponsors/xtrem-io.png" />
              </td>
              <td>
                <img src="https://s3.amazonaws.com/pycon-il/pics/sponsors/autodesk.png" />
              </td>
            </tr>
            <!--tr><td><h4>Silver sponsors</h4></td></tr-->
            <tr>
              <td>
                <img src="https://s3.amazonaws.com/pycon-il/pics/sponsors/sentinel-one.png" />
              </td>
              <td>
                <img src="https://s3.amazonaws.com/pycon-il/pics/sponsors/dropbox.png" />
              </td>
            </tr>
            <tr>
              <td>
                <img src="https://s3.amazonaws.com/pycon-il/pics/sponsors/cisco.png" />
              </td>
              <td>
                <img src="https://s3.amazonaws.com/pycon-il/pics/sponsors/cloudify.png"/>
              </td>
            </tr>
            <!--tr><td><h4>Bronze sponsors</h4></td></tr-->
            <tr>
              <td>
                <img src="https://s3.amazonaws.com/pycon-il/pics\sponsors/hpe.png"  />
              </td>
              <td>
                <img src="https://s3.amazonaws.com/pycon-il/pics/sponsors/applitools.png" />
              </td>
            </tr>
            <tr>
              <td>
                <img src="https://s3.amazonaws.com/pycon-il/pics/sponsors/psf.png" />
              </td>
              <td>
                <img src="https://s3.amazonaws.com/pycon-il/pics/sponsors/adgorithms.png" />
              </td>
            </tr>
          </table>
        </div>
      </div>
      <div id="mobile-app">
        <div>
          <p>The conference companion mobile app for iOS and Android</p>
          <table id="mobile-app-details">
            <tbody>
              <tr>
                <td><img src="images/Google-Play-App-Store.jpg" width="30%" height="30%" /></td>
                <td><img src="images/pycon-launch-image.png" /></td>
              </tr>
              <tr>
                <td colspan="2">You can download them here:</td>
              </tr>
              <tr>
                <td colspan="2"><img src="images/qrcode-pyconil.png"/></td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
  <a id="clock"></a>

  <script type="text/html" id="tweet_template">
    <li id="<%=id%>">
      <div class="tweet">
        <div class="vcard">
          <a href="http://twitter.com/<%=screen_name%>" class="url"><img style="height: 48px; width: 48px;" alt="@<%=screen_name%>" class="photo fn" height="48" src="<%=profile_image_url%>" width="48" /></a>
        </div>
        <div class="hentry">
          <strong><a href="http://twitter.com/<%=screen_name%>" title="<%=name%>"><%=screen_name%></a></strong>
          <span class="entry-content"><%=tweet%></span>
          <span class="meta entry-meta"><a href="http://twitter.com/<%=screen_name%>/status/<%=id%>" class="entry-date" rel="bookmark"><span class="published" title="<%=created_at%>"><%=nice_date%></span></a></span>
        </div>
        <% if (embeds.length) for (var i = 0; i < embeds.length; i++) { %>
        <%=embeds[i]%>
        <% } %>
      </div>
    </li>
  </script>


  <script src="config.js"></script>
  <script src="app/js/twitterlib.js"></script>
  <script src="app/js/jquery.min.js"></script>
  <script src="app/js/moment_with_fr.js"></script>
  <script src="app/js/app.js"></script>
</body>
</html>
